<!DOCTYPE html>
<html lang="en">  
    <head>  
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Ethereum private keygen with other tests.">
        <meta name="author" content="Kevin Wong">
        <title>Ethereum Private Keygen</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <link rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css'>
        <script src='/scripts/vendor/bootstrap/bootstrap.bundle.min.js'></script>
    </head>  
    <body class="container-fluid">
        <header class="container">
            <h1>Ethereum Utility Page</h1>
            <small class="text-muted">Only for ERC20 tokens at <a target="_blank" href="https://ropsten.etherscan.io/token/{{tokenContractAddress}}">{{tokenContractAddress}}</a></small>
        </header>
        <hr>

        {{{body}}}

        <hr>
        <footer class="container">
            <div class="text-center">
                All this belongs to Kevin Wong. <a href="https://github.com/wertykevin91/firebase-eth-private-keygen">See project on Github</a>
            </div>
            <br>
        </footer>
    </body>  
</html>  